    body {
      font-family: Arial, sans-serif;
      background: #f8f8f8;
    }
    .form-box {
      width: 650px;
      border: 1px solid #333;
      margin: 30px auto;
      background: #ffffcc;
    }
    h2 {
      text-align: center;
      color: #0066cc;
      margin: 10px 0;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    td {
      padding: 6px;
      border: 1px solid #aaa;
    }
    input[type="text"], 
    select, textarea {
      padding: 4px;
    }
    .btn {
      padding: 6px 15px;
      background: #ddd;
      border: 1px solid #555;
      cursor: pointer;
    }
    .success {
      color: red;
      text-align: center;
      font-weight: bold;
      margin: 10px;
    }
    .group-box {
      border: 1px solid brown;
      padding: 8px;
      margin: 3px 0;
      background: #fffde7;
      text-align: center; /* căn giữa toàn bộ nội dung */
    }
    .group-title {
      color: brown;
      font-weight: bold;
      font-style: italic;
      display: block;
      margin-bottom: 6px;
    }
    .group-box input {
      width: 60px;
      text-align: center;
    }