        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: Arial, sans-serif;
        }
        ul {
            list-style: none;
        }
        .menu {
            background: orange;
            display: flex;
        }
        .menu > li {
            position: relative;
        }
        .menu > li > a {
            display: block;
            padding: 12px 20px;
            color: white;
            text-decoration: none;
        }
        .menu > li > a:hover {
            background: darkorange;
        }
        /* menu con */
        .menu li ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background: orange;
            min-width: 180px;
        }
        .menu li:hover > ul {
            display: block;
        }
        .menu li ul li a {
            padding: 10px;
            display: block;
            color: white;
            text-decoration: none;
        }
        .menu li ul li a:hover {
            background: darkorange;
        }
        /* menu cấp 3 */
        .menu li ul li ul {
            top: 50;
            left: 100%;
        }