body { font-family: Arial, sans-serif; }
    .header {
      background-color: navy;
      color: white;
      font-size: 28px;
      text-align: center;
      padding: 15px;
      font-weight: bold;
    }
    table {
      width: 100%;
      border: 1px solid #ccc;
      border-collapse: collapse;
    }
    td {
      vertical-align: top;
      padding: 10px;
    }
    .menu {
      width: 200px;
      background-color: #f0f0f0;
    }
    .menu a {
      display: block;
      text-decoration: none;
      margin: 4px 0;
    }
    .menu a:hover {
      text-decoration: underline;
      color: red;
    }
    .content h2 {
      color: black;
    }
    .content h3 {
      color: darkblue;
    }
    .margin{
        text-align: center;
    }